<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exhaust/exhaust_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{22,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{22,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>exhaust/exhaust_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{26,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{26,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>exhaust/exhaust_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{22,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{22,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>exhaust/exhaust_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,30},{22,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>exhaust/exhaust_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{22,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>plasma/plasma_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,62},{6,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,21}}</string>
                <key>sourceSize</key>
                <string>{6,21}</string>
            </dict>
            <key>plasma/plasma_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,70},{5,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,15}}</string>
                <key>sourceSize</key>
                <string>{5,15}</string>
            </dict>
            <key>proton/proton_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>proton/proton_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,74},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>proton/proton_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,74},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>vulcan/vulcan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,54},{6,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,22}}</string>
                <key>sourceSize</key>
                <string>{6,22}</string>
            </dict>
            <key>vulcan/vulcan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,70},{9,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>vulcan/vulcan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,54},{4,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,14}}</string>
                <key>sourceSize</key>
                <string>{4,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5603247d3ae423eb4d382970efe60b0d:1/1$</string>
            <key>textureFileName</key>
            <string>fx.png</string>
        </dict>
    </dict>
</plist>
