<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_1/explosion_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,209},{8,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{8,7}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,188},{10,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{10,11}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,234},{18,17}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{18,17}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,218},{26,25}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{26,25}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,166},{32,35}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{32,35}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,138},{36,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{36,37}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{36,37}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{36,37}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{38,39}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{38,39}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{30,27}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{30,27}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,129},{38,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{38,35}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_1/explosion_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,43}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,209},{8,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{8,7}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,188},{10,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{10,11}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,219},{18,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{18,17}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,218},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{22,21}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{28,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{28,27}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,176},{34,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,33}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,99},{36,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,37}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,88},{40,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{40,39}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_2/explosion_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{44,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,43}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,200},{8,7}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{8,7}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,176},{10,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{10,11}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,200},{18,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{18,17}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,211},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{22,21}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,31},{28,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{28,27}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{34,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,33}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,60},{36,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,37}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,47},{40,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{40,39}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>explosion_3/explosion_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{44,43}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d175d41cec9b8a3bcb572e424cc71258:1/1$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
