<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy_1_b/enemy_1_b_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_b/enemy_1_b_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_b/enemy_1_b_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{56,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_b/enemy_1_b_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{54,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_b/enemy_1_b_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,50},{46,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_g/enemy_1_g_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_g/enemy_1_g_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,50},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_g/enemy_1_g_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,102},{56,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_g/enemy_1_g_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{54,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_g/enemy_1_g_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,52},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_r/enemy_1_r_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,100},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_r/enemy_1_r_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_r/enemy_1_r_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,52},{56,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_r/enemy_1_r_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{56,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_1_r/enemy_1_r_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,100},{46,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_b/enemy_2_b_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,200},{54,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_b/enemy_2_b_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_b/enemy_2_b_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_b/enemy_2_b_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,52},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_b/enemy_2_b_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,150},{54,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_g/enemy_2_g_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,200},{54,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_g/enemy_2_g_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_g/enemy_2_g_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_g/enemy_2_g_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Enemy_2_g/enemy_2_g_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{54,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mine_1/mine_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,206},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,206},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,170},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,170},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,202},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,158},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,208},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,172},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_1/mine_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,208},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,172},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,220},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,184},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,148},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,194},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,94},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,150},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,166},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_11/mine_11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,166},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,158},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,130},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,130},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,122},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,192},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,58},{32,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,122},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,134},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_12/mine_12_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,134},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_21/mine_21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,134},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_21/mine_21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,136},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_21/mine_21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_21/mine_21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,98},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_22/mine_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,98},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_22/mine_22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,100},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_22/mine_22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,94},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_22/mine_22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,58},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_2_01/mine_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,86},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_2_01/mine_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,86},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_2_01/mine_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>mine_2_01/mine_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,50},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25946160b19b850965a261b3612ea2ca:1/1$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
